<include src="../templates/html-header.html" path=".."></include>
<body>
  <div
    class="aui-wrapper"
    :class="{ 'aui-header--fixed': headerFixed, 'aui-aside--fixed': asideFixed, 'aui-aside--fold': asideFold }"
    v-loading.fullscreen.lock="loading"
    element-loading-text="拼命加载中">
    <template v-if="!loading">
      <!-- aui-header -->
      <include src="../templates/layout-header.html"></include>
      <!-- aui-aside -->
      <include src="../templates/layout-aside.html"></include>
      <!-- aui-main -->
      <main class="aui-main">
        <el-row>
          <el-button>默认按钮</el-button>
          <el-button type="primary">主要按钮</el-button>
          <el-button type="success">成功按钮</el-button>
          <el-button type="info">信息按钮</el-button>
          <el-button type="warning">警告按钮</el-button>
          <el-button type="danger">危险按钮</el-button>
        </el-row>
      </main>
      <!-- aui-footer -->
      <include src="../templates/layout-footer.html"></include>
      <!-- aui-aside-control -->
      <include src="../templates/layout-aside-control.html"></include>
    </template>
  </div>
  <include src="../templates/html-scripts.html" path=".."></include>
  <script>
  (function () {
    var vm = window.vm = new Vue({
      el: '.aui-wrapper',
      data: function () {
        return {
          loading: true,
          // 头部, 皮肤 (white 白色 / colorful 鲜艳)
          headerSkin: 'white',
          // 头部, 固定状态
          headerFixed: false,
          // 侧边, 皮肤 (white 白色 / dark 黑色)
          asideSkin: 'white',
          // 侧边, 固定状态
          asideFixed: false,
          // 侧边, 折叠状态
          asideFold: false,
          // 侧边, 菜单
          asideMenuList: [],
          asideMenuActiveName: '',
          // 搜索
          searchVisible: false,
          searchValue: '',
          // 侧边控制, 打开状态
          asideControlOpen: false,
          // 皮肤
          skin: 'blue',
          skinList: []
        }
      },
      beforeCreate () {
        vm = this;
      },
      created () {
        axios.all([
          vm.getSkinList(),
          vm.getMenuList()
        ]).then(function () {
          vm.loading = false;
          // 注册组件, 侧边栏子菜单
          fnRegistrationAuiSidebarSubmenu();
        });
      },
      methods: {
        // 获取皮肤列表
        getSkinList: function () {
          return axios.get('../skins.json').then(function (res) {
            if (res.data && res.data.code === 0) {
              vm.skinList = res.data;
            }
          })
        },
        // 获取菜单列表
        getMenuList: function () {
          return axios.get('../mock/sys-menu-nav.json').then(function (res) {
            if (res.data && res.data.code === 0) {
              vm.asideMenuList = res.data.data;
            }
          })
        },
        // 搜索提示信息
        searchSuggestionsHandle (queryString, cb) {
          cb([
            { value: '搜索提示一' },
            { value: '搜索提示二' },
            { value: '搜索提示三' }
          ]);
        },
        // 皮肤切换
        skinChangeHandle (val) {
          var styleList = [
            {
              id: 'J_elementTheme',
              url: '../element-theme/' + val + '/index.css?t=' + new Date().getTime()
            },
            {
              id: 'J_auiSKin',
              url: '../css/aui-' + val + '.min.css?t=' + new Date().getTime()
            }
          ]
          for (var i = 0; i < styleList.length; i++) {
            var el = document.querySelector('#' + styleList[i].id)
            if (el) {
              el.href = styleList[i].url
              continue
            }
            el = document.createElement('link')
            el.id = styleList[i].id
            el.href = styleList[i].url
            el.rel = 'stylesheet'
            document.querySelector('head').appendChild(el)
          }
        }
      }
    });

    /**
    * 注册组件, 侧边栏子菜单
    */
    function fnRegistrationAuiSidebarSubmenu () {
      Vue.component('aui-aside-submenu', {
        template: '\
          <el-submenu\
            v-if="menu.children && menu.children.length >= 1"\
            :index="menu.id + \'\'"\
            :popper-append-to-body=\"false\">\
            <template slot="title">\
              <svg class="aui-aside__menu-icon icon-svg" aria-hidden="true"><use :xlink:href="\'#\' + (menu.icon || \'icon-yuanquan\')"></use></svg>\
              <span>{{ menu.title }}</span>\
            </template>\
            <aui-aside-submenu\
              v-for="item in menu.children"\
              :key="item.id"\
              :menu="item"\
              :aside-skin="asideSkin">\
            </aui-aside-submenu>\
          </el-submenu>\
          <el-menu-item v-else :index="menu.id + \'\'" @click="tabAddHandle(menu)">\
            <svg class="aui-aside__menu-icon icon-svg" aria-hidden="true"><use :xlink:href="\'#\' + (menu.icon || \'icon-yuanquan\')"></use></svg>\
            <span>{{ menu.title }}</span>\
          </el-menu-item>',
        props: {
          menu: {
            type: Object,
            required: true
          }
        },
        computed: {
          asideSkin: function () {
            return vm.asideSkin;
          }
        },
        methods: {
          tabAddHandle (menu) {
            vm.$emit('tabAddHandle', menu);
          }
        }
      }); 
    };
  })();
</script>
</body>
</html>
