@import "../variables";

$skin-color: $skin--blue !default;

/* Header
------------------------------ */
$block: '.aui-header';
#{$block} {
  &__hd {
    background-color: $skin-color;
  }
  .aui-brand {
    color: $color--white;
  }
  &__menu.el-menu .el-menu-item,
  &__menu.el-menu .el-submenu .el-submenu__title {
    &:hover {
      color: $skin-color;
    }
  }
  &__menu.el-menu > .el-menu-item.is-active,
  &__menu.el-menu > .el-submenu.is-active .el-submenu__title,
  &__menu.el-menu > .el-submenu:focus .el-submenu__title {
    color: $color--text-secondary;
    &:hover {
      color: $skin-color;
    }
  }
  &__menu.el-menu .el-button {
    color: $color--text-secondary;
    background-color: transparent;
    &:hover {
      border-color: $skin-color;
      color: $skin-color;
    }
  }
  &__menu.el-menu .el-dropdown {
    color: $color--text-secondary;
    &:hover {
      color: $skin-color;
    }
  }
}
#{$block}--colorful {
  box-shadow: none;
  #{$block}__bd {
    background-color: $skin-color;
  }
  #{$block}__menu.el-menu .el-menu-item,
  #{$block}__menu.el-menu .el-submenu .el-submenu__title,
  #{$block}__menu.el-menu > .el-menu-item.is-active,
  #{$block}__menu.el-menu > .el-submenu.is-active .el-submenu__title,
  #{$block}__menu.el-menu > .el-submenu:focus .el-submenu__title {
    color: $color--white;
    &:focus {
      background-color: transparent;
    }
    &:hover {
      color: $color--white;
      background-color: mix($color--black, $color--primary, 15%);
    }
  }
  #{$block}__search-txt .el-input__inner {
    color: $color--white;
    border-color: $color--white;
    &::-webkit-input-placeholder {
      color: $color--white;
    }
  }
  .el-button {
    &,
    &:focus,
    &:hover,
    &:active {
      color: $color--white;
      border-color: $color--white;
      background-color: transparent;
    }
  }
  .el-dropdown {
    &,
    &:hover {
      color: $color--white;
    }
  }
}
