*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: $font--family-base;
  font-size: $font--size-base;
  line-height: $font--line-height-base;
  text-align: left;
  color: $color--text-primary;
  background-color: $color--white;
}
a {
  color: $link--color;
  text-decoration: none;
  &:hover {
    color: $link--hover-color;
    text-decoration: none;
  }
}


/* Common
------------------------------ */
.icon-svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: middle;
  overflow: hidden;
}


/* Reset element-ui
------------------------------ */
.aui-wrapper {
  .el-card + .el-card {
    margin-top: 15px;
  }
  .el-input__prefix .el-input__icon {
    display: inline-block;
    vertical-align: middle;
  }
  .el-date-editor .el-range-separator {
    width: 8%;
  }
  .el-table th {
    color: $color--text-primary;
    background-color: $color--white;
  }
  .el-pagination {
    margin-top: 15px;
    text-align: right;
  }
}
