.aui-wrapper {
  position: relative;
  min-height: 100vh;
  padding-top: $header--height;
  overflow: hidden;
}


/* Header fixed
------------------------------ */
.aui-header--fixed {
  .aui-header {
    position: fixed;
  }
}


/* Aside fixed
------------------------------ */
.aui-aside--fixed {
  .aui-header__hd,
  .aui-aside {
    position: fixed;
  }
}


/* Aside fold
------------------------------ */
.aui-aside--fold {
  $block: '.aui-header';
  #{$block}__hd,
  #{$block} .aui-brand {
    width: $aside--width-fold;
  }
  #{$block} .aui-brand--lg {
    display: none;
  }
  #{$block} .aui-brand--sm {
    display: flex;
  }
  #{$block}__bd {
    margin-left: $aside--width-fold;
  }
  #{$block}__icon-menu--rz180 {
    transform: rotateZ(180deg);
  }

  $block: '.aui-aside';
  #{$block},
  #{$block}__menu.el-menu {
    width: $aside--width-fold;
  }
  #{$block}__inner {
    width: $aside--width-fold + 20px;
  }
  #{$block}__menu-icon {
    margin-right: 0;
    font-size: 18px;
  }
  
  $block: '.aui-main';
  #{$block} {
    margin-left: $aside--width-fold;
  }
}


/* Header
------------------------------ */
$block: '.aui-header';
#{$block} {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: $header--zindex;
  height: $header--height;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .05);
  &__hd {
    position: absolute;
    top: 0;
    left: 0;
    width: $aside--width;
    height: $header--height;
    background-color: $color--primary;
    transition: width .3s;
  }
  .aui-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0;
    width: $aside--width;
    height: 100%;
    font-size: $font--size-xl;
    text-transform: uppercase;
    white-space: nowrap;
    color: $color--white;
    overflow: hidden;
    cursor: pointer;
    transition: width .3s;
  }
  .aui-brand--sm {
    display: none;
  }
  &__bd {
    position: relative;
    display: flex;
    margin-left: $aside--width;
    background-color: $color--white;
    overflow: hidden;
    transition: margin-left .3s;
  }
  &__menu.el-menu {
    background-color: transparent;
    border-bottom: 0 !important;
  }
  &__menu.el-menu .el-menu-item,
  &__menu.el-menu .el-submenu .el-submenu__title {
    height: $header--height;
    padding: 0 15px;
    line-height: $header--height;
    border-bottom: 0 !important;
    transition: none;
    color: $color--text-regular;
    &:hover {
      color: $color--primary;
    }
  }
  &__menu.el-menu > .el-menu-item.is-active,
  &__menu.el-menu > .el-submenu.is-active .el-submenu__title,
  &__menu.el-menu > .el-submenu:focus .el-submenu__title {
    color: $color--text-regular;
    &:hover {
      color: $color--primary;
    }
  }
  &__menu.el-menu .el-menu-item *,
  &__menu.el-menu .el-submenu .el-submenu__title * {
    vertical-align: initial;
  }
  &__menu.el-menu .el-menu-item > a,
  &__menu.el-menu .el-submenu .el-submenu__title > a {
    display: inline-block;
    font-size: 16px;
  }
  &__menu.el-menu .el-menu-item i,
  &__menu.el-menu .el-submenu .el-submenu__title i {
    display: inline-block;
    vertical-align: middle;
    color: inherit;
  }
  &__menu.el-menu &__icon-menu {
    font-size: 16px;
    vertical-align: middle;
  }
  &__menu.el-menu &__search {
    font-size: 0;
  }
  &__menu.el-menu &__search-txt {
    width: 0;
    transition: width .3s;
  }
  &__menu.el-menu &__search-txt .el-input__inner {
    height: $header--height - 20px;
    padding: 0;
    line-height: $header--height - 20px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    background: transparent;
  }
  &__menu.el-menu &__search-txt--show {
    width: 210px;
  }
  &__menu.el-menu &__search-txt--show .el-input__inner {
    padding: 0 10px;
  }
  &__menu.el-menu .el-button {
    color: $color--text-regular;
    background-color: transparent;
    &:hover {
      border-color: $color--primary;
      color: $color--primary;
    }
  }
  &__menu.el-menu .el-dropdown {
    &:hover {
      color: $color--primary;
    }
  }
  &__menu.el-menu .el-dropdown .el-dropdown-link {
    display: inline-block;
  }
  &__menu.el-menu .el-dropdown .el-icon-arrow-down {
    width: auto;
    font-size: 12px;
    margin: 0 0 0 5px;
    transition: transform .3s;
  }
  .aui-avatar {
    width: $header--height - 12px;
    height: auto;
    margin-right: 5px;
    border-radius: 100%;
    vertical-align: middle !important;
  }
}
#{$block}--colorful {
  box-shadow: none;
  #{$block}__bd {
    background-color: $color--primary;
  }
  #{$block}__menu.el-menu .el-menu-item,
  #{$block}__menu.el-menu .el-submenu .el-submenu__title,
  #{$block}__menu.el-menu > .el-menu-item.is-active,
  #{$block}__menu.el-menu > .el-submenu.is-active .el-submenu__title,
  #{$block}__menu.el-menu > .el-submenu:focus .el-submenu__title {
    color: $color--white;
    &:focus {
      background-color: transparent;
    }
    &:hover {
      color: $color--white;
      background-color: mix($color--black, $color--primary, 15%);
    }
  }
  #{$block}__menu.el-menu #{$block}__search-txt .el-input__inner {
    color: $color--white;
    &,
    &:focus,
    &:hover {
      border-color: $color--white;
    }
    &::-webkit-input-placeholder {
      color: $color--white;
    }
  }
  #{$block}__menu.el-menu .el-button {
    &,
    &:focus,
    &:hover,
    &:active {
      color: $color--white;
      border-color: $color--white;
      background-color: transparent;
    }
  }
  #{$block}__menu.el-menu .el-dropdown {
    &,
    &:hover {
      color: $color--white;
    }
  }
}

/* Aside
------------------------------ */
$block: '.aui-aside';
#{$block} {
  position: absolute;
  top: $header--height;
  bottom: 0;
  left: 0;
  z-index: $aside--zindex;
  width: $aside--width;
  box-shadow: 1px 0 0 0 rgba(0, 0, 0, .05);
  background-color: $color--white;
  overflow: hidden;
  transition: width .3s;
  &__inner {
    position: relative;
    z-index: 1;
    width: $aside--width + 20px;
    height: 100%;
    padding-bottom: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: width .3s;
  }
  &__menu.el-menu {
    width: $aside--width;
    border-right: 0;
    transition: width .3s;
  }
  &__menu.el-menu .el-menu-item,
  &__menu.el-menu .el-submenu .el-submenu__title {
    height: $aside--menu-item-height;
    line-height: $aside--menu-item-height;
    color: $color--text-regular;
    &:focus,
    &:hover {
      color: $color--primary;
      background-color: transparent;
    }
  }
  &__menu.el-menu .el-menu-item.is-active,
  &__menu.el-menu .el-submenu.is-active,
  &__menu.el-menu .el-submenu.is-active .el-menu,
  &__menu.el-menu .el-submenu.is-opened,
  &__menu.el-menu .el-submenu.is-opened .el-menu {
    background-color: $color--primary-light-9;
  }
  &__menu.el-menu .el-menu-item.is-active,
  &__menu.el-menu .el-submenu.is-active > .el-submenu__title,
  &__menu.el-menu > .el-submenu.is-opened > .el-submenu__title {
    color: $color--primary;
  }
  &__menu.el-menu .el-menu-item i,
  &__menu.el-menu .el-submenu .el-submenu__title i {
    color: inherit;
  }
  &__menu.el-menu .el-menu--vertical {
    position: fixed !important;
  }
  &__menu.el-menu .el-submenu__icon-arrow {
    margin-top: -6px;
  }
  &__menu-icon {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    margin-right: 5px;
    text-align: center;
    font-size: 16px;
    color: inherit;
    transition: font-size .3s;
  }
}
#{$block}--dark {
  box-shadow: none;
  &,
  #{$block}__menu.el-menu,
  #{$block}__menu.el-menu .el-menu {
    background-color: $aside--background-color-dark;
  }
  #{$block}__menu.el-menu .el-menu-item,
  #{$block}__menu.el-menu .el-submenu .el-submenu__title {
    color: $aside--text-color-dark;
    &:focus,
    &:hover {
      color: $color--white;
    }
  }
  #{$block}__menu.el-menu .el-menu-item.is-active,
  #{$block}__menu.el-menu .el-submenu.is-active,
  #{$block}__menu.el-menu .el-submenu.is-active .el-menu,
  #{$block}__menu.el-menu .el-submenu.is-opened,
  #{$block}__menu.el-menu .el-submenu.is-opened .el-menu {
    background-color: mix($color--white, $aside--background-color-dark, 5%);
  }
  &__menu.el-menu .el-menu-item.is-active,
  #{$block}__menu.el-menu .el-submenu.is-active > .el-submenu__title,
  #{$block}__menu.el-menu > .el-submenu.is-opened > .el-submenu__title {
    color: $color--white;
  }
}


/* Main
------------------------------ */
$block: '.aui-main';
#{$block} {
  position: relative;
  min-height: calc(100vh - #{$header--height} - #{$footer-height});
  padding:  $main-padding-y $main-padding-x;
  margin-left: $aside--width;
  background-color: $main--background-color;
  transition: margin-left .3s;
}


/* Footer
------------------------------ */
$block: '.aui-footer';
#{$block} {
  position: relative;
  height: $footer-height;
  padding:  $footer-padding-y $footer-padding-x;
  margin-left: $aside--width;
  line-height: $footer-height - ($footer-padding-y * 2);
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, .05);
}


/* Aside control
------------------------------ */
$block: '.aui-aside-control';
#{$block} {
  position: absolute;
  top: $header--height;
  right: -$aside-control--width;
  bottom: 0;
  z-index: $aside-control--zindex;
  width: $aside-control--width;
  background-color: $color--white;
  transition: right .3s;
  &__toggle {
    position: absolute;
    top: 80px;
    left: -40px;
    width: 40px;
    padding: 12px 8px;
    font-size: 20px;
    text-align: center;
    line-height: 1;
    border-radius: $border--radius-base 0 0 $border--radius-base;
    color: $color--white;
    background-color: $color--primary;
    cursor: pointer;
  }
  &__inner {
    position: relative;
    z-index: 1;
    width: $aside-control--width + 20px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  &__bd {
    width: $aside-control--width;
    padding: 5px 20px 20px;
  }
  &__setting {
    margin: 0;
  }
  &__setting > dt {
    margin-top: 15px;
    font-size: $font--size-lg;
    font-weight: 900;
  }
  &__setting > dd {
    margin-top: 10px;
    margin-left: 1em;
  }
  &__setting + &__setting {
    margin-top: 15px;
    border-top: 1px solid $border--color-lighter;
  }
}
#{$block}--open {
  right: 0;
  box-shadow: -1px 0 0 0 rgba(0, 0, 0, .05);
}
